@model GenreViewModel

@{
    ViewBag.Title = Resources.Create;
}

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="col-md-12">
            <h2>@Resources.Create</h2>

            @Html.AntiForgeryToken()
            <div class="validation-errors">
                @Html.ValidationSummary(false)
            </div>
            @Html.EditorForModel()
        </div>
        <input type="submit" value="@Resources.Create" />
    }
</div>



