@model GameViewModel

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>
<h3>@Resources.DeleteQuestion</h3>
@Html.ValidationSummary()
@Html.DisplayForModel()

@using (Html.BeginForm("ConfirmedDelete"))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("id", Model.Id)
    <div>
        <input class="btn btn-default" type="submit" value="Delete" /> |
        @Html.ActionLink(Resources.Back, "Games")
    </div>
}


