@using System.Web.Mvc.Html
@model GameViewModel

@{
    ViewBag.Title = "GetGameDetails";
}

<h2>GetGameDetails</h2>

@Html.LabelFor(m => m.Key)
<br>
@Html.DisplayFor(m => m.Key)

<br>

@Html.LabelFor(m => m.Description)
<br>
@Html.DisplayFor(m => m.Description)

<br>

@Html.LabelFor(m => m.Price)
<br>
@Html.DisplayFor(m => m.Price)

<br>
@Html.LabelFor(m => m.UnitsInStock)
<br>
@Html.DisplayFor(m => m.UnitsInStock)

<br>
@Html.LabelFor(m => m.Discontinued)
<br>
@Html.DisplayFor(m => m.Discontinued)

@if (Model.Publisher != null)
{
    <br>
    @Html.LabelFor(m => m.Publisher)
    <br>
    @Html.ActionLink(Model.Publisher.CompanyName, "GetPublisherDetails", "publisher", new {companyName = Model.Publisher.CompanyName}, null)
}
<br>
@Html.LabelFor(m => m.Genres)
<br>
@foreach (var genre in Model.Genres)
{
    @Html.DisplayFor(m => genre.Name)
    <br>
}

@Html.LabelFor(m => m.PlatformTypes)
<br>
@foreach (var platform in Model.PlatformTypes)
{
    @Html.DisplayFor(m => platform.TypeName)
    <br>
}

@Html.ActionLink("download", "download", new {gamekey =  Model.Key}, new { target = "blank"})
@Html.ActionLink("show comments", "comments", "comment", new { gamekey = Model.Key }, new { target = "blank" })


