@model PublisherViewModel
@{
    ViewBag.Title = "GetPublisherDetails";
}

<h2>GetPublisherDetails</h2>

@Html.LabelFor(m => m.CompanyName)
<br>
@Html.DisplayFor(m => m.CompanyName)

<br>

@Html.LabelFor(m => m.Description)
<br>
@Html.DisplayFor(m => m.Description)

<br>

@Html.LabelFor(m => m.HomePage)
<br>
@Html.DisplayFor(m => m.HomePage)

