@model IEnumerable<PublisherViewModel>

@{
    ViewBag.Title = Resources.Publishers;
}

<h2>@Resources.Publishers</h2>

<p>
    @Html.ActionLink(Resources.Add, "new")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePage)
            </td>
            <td>
                @if (item.IsSqlEntity)
                {
                    @Html.ActionLink(Resources.Edit, "Edit", new {key = item.CompanyName}); <span>|</span>
                    @Html.ActionLink(Resources.Delete, "Delete", new {key = item.CompanyName});
                }
            </td>
        </tr>
    }

</table>
