@model IEnumerable<PublisherViewModel>

@{
    ViewBag.Title = "GetPublishers";
}

<h2>GetPublishers</h2>

<p>
    @Html.ActionLink("Create New", "new")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { key = item.CompanyName }) |
                @Html.ActionLink("Delete", "Delete", new { key = item.CompanyName })
            </td>
        </tr>
    }

</table>
