<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
</head>
<body>
    <div>
        <div class="header clearfix">
            <div class="left">
                Quantity of games: @Cache["GamesQuantity"]
            </div>
            <div class="left">
                @Html.ActionLink("All orders", "history", "order")
            </div>
            <div class="left">
                @Html.ActionLink("busket", "busket", "order")
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <script type="text/javascript" src="~/Scripts/JavaScript.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>