@model RegisterViewModel

@{
    ViewBag.Title = "Register";
}

<div class="container">
    @using (Html.BeginForm())
            {
        <div class="col-md-12">
            <h2>Registration</h2>

            @Html.AntiForgeryToken()
            <div class="validation-errors">
                @Html.ValidationSummary(false)
                @{
                    Html.ValidateFor(x => x.Login);
                }
            </div>
            <fieldset>
                <ul>
                    <li>
                        @Html.LabelFor(m => m.Login)
                        @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.FirstName)
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.LastName)
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.BirthDate)
                        <div>
                            @Html.TextBoxFor(m => m.BirthDate, new { @class = "form-control", type = "date", id = "birthDate" })
                        </div>
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Email)
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", title = "Example: peter@ukr.net", @data_toggle = "tooltip", @data_placement = "right" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </li>
                </ul>
                <input type="submit" value="Sign up" />
            </fieldset>
        </div>
                    }
</div>



