@model FilterOrdersViewModel
@{
    ViewBag.Title = Resources.CurrentOrders;
}
@using (Html.BeginForm("GetCurrentOrders", "Order"))
{
    @Html.ValidationSummary(true)
    @Html.LabelFor(x => x.DateFrom)
    <br>
    @Html.EditorFor(x => x.DateFrom)
    <br>
    @Html.LabelFor(x => x.DateTo)
    <br>
    @Html.EditorFor(x => x.DateTo)
    <br>
    <input type="submit" Value="@Resources.Filters" />
}
<h2>@Resources.CurrentOrders</h2>
@foreach (var order in Model.Orders)
{
    @Html.Partial("order", order)
    <div class="edit">
        @Html.ActionLink(Resources.Edit, "edit", new { key = order.Id })
    </div>
    <hr/>
}