@model OrderViewModel

@Html.LabelFor(m => m.OrderDate)
<br>
@Html.DisplayFor(m => m.OrderDate)
<br>
@Html.LabelFor(m => m.Status)
<br>
@Resources.ResourceManager.GetString(Model.Status.ToString())
<table class="table">
    <tr>
        <th>@Resources.Game</th>
        <th>@Resources.Price</th>
        <th>@Resources.Quantity</th>
        <th>@Resources.Discount</th>
    </tr>
    @foreach (var details in Model.OrderDetails)
    {
        <tr>
            <td>@Html.ActionLink(details.Game.Key, "GetGameDetails", "Game", new { key = details.Game.Key }, null)</td>
            <td>@details.Price</td> 
            <td>@details.Quantity</td>
            <td>@details.Discount</td>
        </tr>
    }
</table>